.center{
    background-color: white;
}
.img-container{
    /* background-color: aquamarine;
    border: 1px solid yellow;  */
    display: flex;
    justify-content: center;
}
.icon{
    height:100px;
}
#garza{
    margin-bottom: 5px;
}

.btn-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.btn-redir{
    background-color: #2691d9;
    color: #fff;
    padding: 15px 100px 15px 100px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 27px;
    border: solid 1px #e9f4fb;
    cursor: pointer;
    outline: none;
    font-weight: 700;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.btn-redir:hover{
    /* border-color: #2691d9; */
    border-color: red;
    transition: .5s;
}